@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #d9d9d9;
}

@layer components {
    .fit-dropdown.active {
        height: 72px;
        transition: all 300ms ease-in-out;
    }

    .arrow-img.active {
        transform: rotate(180deg);
    }

    .menu-left {
        flex: 0.5;
    }

    .menu-right {
        flex: 1.5;
    }

    .trousers-menu {
        max-width: 800px;
    }
}