@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

body {
    background-color: #d9d9d9;
}

@layer components {
    .fit-dropdown.active {
        height: 78px;
        transition: all 300ms ease-in-out;
        border-bottom: 2px solid black
        
    }

    .arrow-img.active {
        transform: rotate(180deg);
        
    }

    .selector-numbers.active {
        width: 109px;
    }

    .menu-left {
        flex: 0.6;
    }

    .menu-right {
        flex: 1.4;
    }

    .trousers-menu-flex {
        width: 925px;
        height: 450px;
    }

    .fit-dropdown-text:first-of-type {
        padding-top: 3px;
    }

    .fit-dropdown-text:last-of-type {
        padding-bottom: 3px;
    }

    .trouser-menu-flex {
        height: 450px;
        width: 950px;
        
    }

    .home-buttons-container.hide {
        display: none;
    }

    .back-button.hide {
        display: block;
    }

    .trouser-menu-container {
        display: flex;
        min-width: 950px;
    }

    .trouser-menu-container.hide {
        display: none;
    }

    .top-menu-flex {
        height: 450px;
        width: 950px;
        
    }
    .top-menu-container {
        display: flex;
        min-width: 950px;
    }
    .top-menu-container.hide {
        display: none;
    }
    .select-fit-pointer {
        top: 23px;
        right: 10px;
        transition: all 1000ms ease-in-out
    }
    .select-fit-pointer.active {
        opacity: 1;
    }
}